/* .container {

}

.container .item {
    width: 200px;
    height: 100px;
    background-color: tomato;
    margin-bottom: 20px;
    padding: 20px;
    border: 4px dotted blue;
    box-sizing: border-box;
}

.container .item:nth-child(2) {
    box-shadow: 10px 20px 30px rgba(0,0,0, .3);
}

.container .item:nth-child(3) {
    opacity: 0.5;
} */

.container {
    background-color: orange;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center ; 
}

.container .item {
    width: 100px;
    height: 100px;
    background-color: royalblue;
    margin:30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.container .item:nth-child(1):hover {
    width: 200px;
    background-color: orange;
}

.container .item:nth-child(2) { /*:hover*/
    transform: rotate(45deg) scale(0.5); 
}

.container .item:nth-child(3) {  
    transform: perspective(300px) rotateX(45deg); 
}

